In [1]:
import urllib

In [2]:
story  = urllib.request.urlopen('https://www.gutenberg.org/files/120/120-0.txt').read().decode("utf-8")

In [27]:
from collections import defaultdict, deque

In [16]:
counter = defaultdict(int)

In [7]:
int()

0

In [8]:
list()

[]

In [10]:
f = lambda : 'a'

In [11]:
f()

'a'

In [14]:
counter = defaultdict(lambda : 'a')

In [15]:
counter['some key that obviously does not exist']

'a'

In [17]:
for s in story:
    counter[s] += 1

In [19]:
print(story[0])

﻿

In [20]:
counter

defaultdict(int,
            {'\ufeff': 1,
             'T': 942,
             'h': 18085,
             'e': 34862,
             ' ': 67002,
             'P': 273,
             'r': 16200,
             'o': 22748,
             'j': 246,
             'c': 6298,
             't': 25528,
             'G': 275,
             'u': 8640,
             'n': 19847,
             'b': 4314,
             'g': 5753,
             'E': 333,
             'B': 483,
             'k': 2906,
             'f': 5881,
             'a': 23870,
             's': 16962,
             'I': 2549,
             'l': 11682,
             'd': 13928,
             ',': 6583,
             'y': 5789,
             'R': 225,
             'L': 311,
             'i': 16338,
             'S': 708,
             'v': 2391,
             '\r': 7891,
             '\n': 7891,
             'w': 7173,
             'U': 90,
             'm': 6718,
             'p': 4666,
             '.': 3881,
             'Y': 176,
             '-': 1374,
             "'": 9,
             ':': 84,
             'A': 842,
             'D': 282,
             'M': 240,
             '1': 122,
             '3': 37,
             '9': 23,
             '4': 27,
             '[': 2,
             '#': 1,
             '2': 55,
             '0': 40,
             ']': 2,
             'O': 290,
             '8': 25,
             'C': 202,
             'F': 229,
             '*': 28,
             'H': 508,
             'J': 257,
             'N': 346,
             'K': 32,
             'W': 380,
             'x': 272,
             '!': 302,
             '7': 24,
             '5': 25,
             '6': 20,
             '’': 1540,
             'V': 31,
             '“': 1237,
             '”': 1233,
             'X': 4,
             'Q': 4,
             '_': 2,
             ';': 664,
             '?': 280,
             'q': 291,
             '(': 31,
             ')': 31,
             'z': 94,
             '‘': 32,
             '′': 2,
             '″': 2,
             '/': 12,
             '"': 22,
             '%': 1,
             '@': 1,
             '$': 2})

In [21]:
import string

In [22]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [24]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [25]:
counter = defaultdict(int)
for s in story:
    if s in string.ascii_letters:
        counter[s] += 1

In [26]:
counter

defaultdict(int,
            {'T': 942,
             'h': 18085,
             'e': 34862,
             'P': 273,
             'r': 16200,
             'o': 22748,
             'j': 246,
             'c': 6298,
             't': 25528,
             'G': 275,
             'u': 8640,
             'n': 19847,
             'b': 4314,
             'g': 5753,
             'E': 333,
             'B': 483,
             'k': 2906,
             'f': 5881,
             'a': 23870,
             's': 16962,
             'I': 2549,
             'l': 11682,
             'd': 13928,
             'y': 5789,
             'R': 225,
             'L': 311,
             'i': 16338,
             'S': 708,
             'v': 2391,
             'w': 7173,
             'U': 90,
             'm': 6718,
             'p': 4666,
             'Y': 176,
             'A': 842,
             'D': 282,
             'M': 240,
             'O': 290,
             'C': 202,
             'F': 229,
             'H': 508,
             'J': 257,
             'N': 346,
             'K': 32,
             'W': 380,
             'x': 272,
             'V': 31,
             'X': 4,
             'Q': 4,
             'q': 291,
             'z': 94})

In [28]:
x = deque([1, 2, 3, 4, 5, 6])

In [29]:
x

deque([1, 2, 3, 4, 5, 6])

In [30]:
x[0]

1

In [31]:
x[2]

3

In [32]:
x[-1]

6

In [33]:
x.pop()

6

In [34]:
x.insert(0, 0)

In [35]:
x

deque([0, 1, 2, 3, 4, 5])

In [36]:
x.appendleft(-1)

In [37]:
x

deque([-1, 0, 1, 2, 3, 4, 5])

In [38]:
x.rotate(1)

In [40]:
x.rotate(-1)

In [43]:
x

deque([2, 3, 4, 5, -1, 0, 1])